* {
    box-sizing: border-box;
}
body {
    width: 1002px;
    height: 100%;
    margin: 0 auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 544px auto 340px;
    grid-template-areas: 
    "header sidebar"
    "navbar navbar"
    "main main"
    "cards cards"
    "about-us about-us"
    "how-it-works how-it-works"
    "up up"
    "footer footer";
}
img {
    width: 100%;
    height: auto;
}
h1 h2 h3 h4 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    line-height: 100%;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 32px;
    line-height: 41px;
}
h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
p {
    font-family: 'Fira Sans', sans-serif;
}
.header {
    grid-area: header;
    background: #C7DDEA;
}
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.art1 {
    width: 100%;
    height: 50%;
    background: #F17949;
}
.art2 {
    width: 100%;
    height: 50%;
    background: #FAB131;
}
.navbar {
    grid-area: navbar;
    background-color: orange;
}
.main {
    grid-area: main;
    background-color: red;
}
.cards {
    grid-area: cards;
    background-color: purple;
}
.cards figure {
    width: 236px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
}
.about-us {
    grid-area: about-us;
    background-color: blue;
}
.how-it-works {
    grid-area: how-it-works;
    background-color:lightblue;
}
.up {
    grid-area: up;
    background-color: lightgreen;
}
.footer {
    grid-area: footer;
    background-color: green;
}
