<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Frank+Ruhl+Libre:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Styles/index.css">
    <link rel="stylesheet" href="/Styles/contact.css">
    <title>Projekt gridflex</title>
</head>

<body>
    <div class="grid-container">

        <header class="header">
            <article>
                <h1>
                    Oh hello there!
                </h1>
            </article>
            <figure>
                <img
                    src="https://github.com/majazocom/Project-layout-insurance-master/blob/master/img/man-and-child.png?raw=true" alt="man and child">
            </figure>
        </header>

        <nav class="navbar">
            <ul class="menu">
                <li><a href="/index.html">Home</a></li>
                <li><a href="#">Our offer</a></li>
                <li><a href="#">Why us</a></li>
                <li><a href="/Views/contact.html"><p style="color:black;">Contact</p></a></li>
            </ul>
        </nav>

        <main class="main">
            <article>
                <h1>Whats on your mind?</h1>
            </article>
        

        <section class="sidebar">
                <p>Your email</p>
                <input class="email" type="text" value="">
                <p>Your message</p>
                <input class="message" type="text" value="Dear Insurance company...">
                <a class="button" href="#">SEND MESSAGE</a>
        </section>
    </main>
       
        <section class="come-visit-us">
            <img class="map" src="https://github.com/majazocom/Project-layout-insurance-master/blob/master/img/map-contact.png?raw=true" alt="map">
            <img class="dart"
                src="https://github.com/majazocom/Project-layout-insurance-master/blob/master/img/needle.png?raw=true" alt="needle">
                <article class="textbox">
                    <h1>Come visit us!</h1>
                    <p>2219 Griffin Street</p>
                    <p>San Francisco</p>
                </article>
        </section>

        <footer class="footer"></footer>
    </div>
</body>

</html>/